<div id="<%= dom_id(entry) %>" class="mb-4">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= entry.meal_type %>
      </p>
    </header>
    <div class="card-content">
      <p class="mb-2">
        <span class="has-text-weight-bold"><%= entry.calories %></span> calories
      </p>
      <p class="mb-2">
        <span class="has-text-weight-bold"><%= entry.proteins %></span> grams of protein
      </p>
      <p class="mb-2">
        <span class="has-text-weight-bold"><%= entry.carbohydrates %></span> grams of carbohydrates
      </p>
      <p class="mb-2">
        <span class="has-text-weight-bold"><%= entry.fats %></span> grams of fat
      </p>
    </div>
  </div>
</div>
