<div id="<%= dom_id entry %>">
  <p>
  <strong>Meal type:</strong>
  <header class="card-header">
  <%= entry.meal_type %>
  </header>
  </p>

  <p>
    <strong>Calories:</strong>
    <p><span class="has-text-weight-bold"><%= entry.calories %></span> calories </p>
  </p>

  <p>
    <strong>Proteins:</strong>
    <p><span class="has-text-weight-bold"><%= entry.proteins %></span> grams of protein</p>
  </p>

  <p>
    <strong>Carbohydrates:</strong>
    <p><span class="has-text-weight-bold"><%= entry.carbohydrates %></span> grams of carbohydrates</p>
  </p>

  <p>
    <strong>Fats:</strong>
    <p><span class="has-text-weight-bold"><%= entry.fats %></span> grams of fat</p>
  </p>

</div>
